@tailwind base;
@tailwind components;
@tailwind utilities;

/* scroll */

/* Estilos para el scrollbar en navegadores WebKit (Chrome, Safari) */
.scrollbar-custom::-webkit-scrollbar {
  width: 4px; /* Ancho del scrollbar */
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: rgb(235, 237, 239); /* Color del thumb (parte que se mueve) */
  border-radius: 20px; /* Bordes redondeados para el thumb */
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent; /* Fondo del track (parte donde se desliza el thumb) */
}

/* Estilos para el scrollbar en Firefox */
.scrollbar-custom {
  scrollbar-width: thin; /* Para que el scrollbar sea delgado */
  scrollbar-color: rgb(17, 24, 39) transparent; /* Color del thumb y del track */
}


/* Estilos scroll de modal de generos de perfil */
/* Estilos para el scrollbar en navegadores basados en WebKit */
.modal-scrollbar {
    max-height: 400px; /* Altura máxima del contenedor del modal */
    overflow-y: auto; /* Habilita el scroll vertical */
}

/* Scrollbar para Chrome, Safari y Edge */
.modal-scrollbar::-webkit-scrollbar {
    width: 8px; /* Ancho del scrollbar */
}

.modal-scrollbar::-webkit-scrollbar-track {
    background: rgb(235, 237, 239); /* Color de fondo del track */
    border-radius: 10px; /* Bordes redondeados del track */
}

.modal-scrollbar::-webkit-scrollbar-thumb {
    background: #888; /* Color del thumb (barra) */
    border-radius: 10px; /* Bordes redondeados del thumb */
}

.modal-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color del thumb al pasar el mouse */
}

/* Estilos para Firefox */
.modal-scrollbar {
    scrollbar-width: thin; /* Espesor del scrollbar */
    scrollbar-color:  rgb(17, 24, 39) rgb(235, 237, 239); /* Color del thumb y del track */
}


/* ----------------------------------------- */

/* Gestion notificacion */

/* MODAL LIKES */

.fixed {
  position: fixed;
}

.inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.bg-black {
  background-color: rgba(0, 0, 0, 0.5);
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.z-50 {
  z-index: 50;
}

.bg-white {
  background-color: #fff;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.shadow-lg {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.p-4 {
  padding: 1rem;
}

.w-96 {
  width: 24rem;
}

.text-xl {
  font-size: 1.25rem;
}

.font-semibold {
  font-weight: 600;
}

.mb-4 {
  margin-bottom: 1rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.border-b {
  border-bottom: 1px solid #e2e8f0;
}

.absolute {
  position: absolute;
}

.top-2 {
  top: 0.5rem;
}

.right-2 {
  right: 0.5rem;
}

.text-lg {
  font-size: 1.125rem;
}

.font-bold {
  font-weight: 700;
}

.max-h-60 {
  max-height: 15rem;
}

.overflow-y-auto {
  overflow-y: auto;
}

/* MODAL RESEÑAS */
/* Estilos para el scroll en Chrome, Safari y Edge */
.modal-reviews::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra de desplazamiento */
}

.modal-reviews::-webkit-scrollbar-thumb {
  background-color:  rgb(17, 24, 39); /* Color del "thumb" (la parte que se mueve) */
  border-radius: 4px; /* Bordes redondeados */
}

.modal-reviews::-webkit-scrollbar-thumb:hover {
  background-color:  rgb(17, 24, 39); /* Color del "thumb" al pasar el mouse */
}

.modal-reviews::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color del fondo de la barra de desplazamiento */
}

/* Estilos para el scroll en Firefox */
.modal-reviews {
  scrollbar-width: thin; /* Estilo del scrollbar */
  scrollbar-color: rgb(17, 24, 39) #f1f1f1; /* Color del "thumb" y el fondo */
}


/* ESTILOS INDEX */

/* Reset de márgenes y paddings */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
/* Asegurarse de que html y body ocupen todo el espacio */
html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Evitar el desplazamiento horizontal */
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Scroll del sign up  */

/* Estilos para el scrollbar */
/* Estilos para el scrollbar */
.scrollable-container::-webkit-scrollbar {
  width: 8px; /* Ancho del scrollbar */
}

.scrollable-container::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color de fondo del track */
}

.scrollable-container::-webkit-scrollbar-thumb {
  background: rgb(17, 24, 39); /* Color del thumb */
  border-radius: 10px; /* Bordes redondeados del thumb */
}

.scrollable-container::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color del thumb al pasar el mouse */
}

/* modal de terminos y condiciones */

/* Asegúrate de que este CSS no esté presente o no esté sobrescribiendo el estilo por defecto */

.reseña-contenedor {
  max-width: 100%; /* El contenedor no se extiende más allá de este valor */
  word-wrap: break-word; /* Rompe palabras largas si es necesario */
}

/* ------------------------------------------------ */
/* Estilos scroll de modal de generos de perfil */
/* Estilos para el scrollbar en navegadores basados en WebKit */
.modal-scrollbar-usuario {
  max-height: 800px; /* Altura máxima del contenedor del modal */
  overflow-y: auto; /* Habilita el scroll vertical */
}

/* Scrollbar para Chrome, Safari y Edge */
.modal-scrollbar-usuario::-webkit-scrollbar {
  width: 8px; /* Ancho del scrollbar */
}

.modal-scrollbar-usuario::-webkit-scrollbar-track {
  background: rgb(235, 237, 239); /* Color de fondo del track */
  border-radius: 10px; /* Bordes redondeados del track */
}

.modal-scrollbar-usuario::-webkit-scrollbar-thumb {
  background: #888; /* Color del thumb (barra) */
  border-radius: 10px; /* Bordes redondeados del thumb */
}

.modal-scrollbar-usuario::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color del thumb al pasar el mouse */
}

/* Estilos para Firefox */
.modal-scrollbar-usuario {
  scrollbar-width: thin; /* Espesor del scrollbar */
  scrollbar-color:  rgb(17, 24, 39) rgb(235, 237, 239); /* Color del thumb y del track */
}

/* ------------------------------------------- */

/* Estilos para el scrollbar */
.scrollbar-thin {
  scrollbar-width: thin;
}
.scrollbar-thumb-primary {
  scrollbar-color: #111827 transparent; /* Cambia este color según tu paleta */
}




















